# Capstone Project Notebook

In [62]:
import pandas as pd
import numpy as np

In [63]:
print("Hellp Capstone Project Course!")

Hellp Capstone Project Course!

## Week Three Assignment

In [82]:
# Scrape the table from the Wiki page.
table = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

In [83]:
# Convert the table into a dataframe 
df = pd.DataFrame(table[0]) 
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [84]:
# Ignore cells with a borough that is Not assigned
df = df[df['Borough']!='Not assigned']
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [87]:
# Use commas to seperate neighborhoods in the same borough.
df['Neighborhood'].replace('/',',')
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [86]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
# Check the result and all the borough has assigned neighborhood.
df[df['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [89]:
df.shape

(103, 3)